/* 新增的密碼容器樣式 */
.code-generator-page #code-list li .code-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.2rem;
    background-color: #161b22;
    border-radius: 4px;
    color: #89e0ff;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; /* 確保內容不會溢出 */
}
